h1 {
    color: rgb(0, 0, 0);
    background-color: red ;
}
h2 {
    color: rgb(255, 0, 0);
    background-color: black ;
}
h3 {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0) ;
}
body{
    background-color: rgb(34, 34, 34);
}

h4 {
    color: rgb(255, 0, 0);
    background-color: black ;
}
.da
{display: flex;
justify-content: space-between;}

.da1
{display: flex;
justify-content: space-between;}


.da2
{display: flex;
justify-content: space-between;}

.da3
{display: flex;
justify-content: space-between;}

.da4
{display: flex;
justify-content: space-between;}

.da5
{display: flex;
justify-content: space-between;}

.da6
{display: flex;
justify-content: space-between;}

.da7
{display: flex;
justify-content: space-between;}

.da8
{display: flex;
justify-content: space-between;}

.da9
{display: flex;
justify-content: space-between;}

.da10
{display: flex;
justify-content: space-between;}

.da11
{display: flex;
justify-content: space-between;}


.da12
{display: flex;
justify-content: space-between;}

.da13
{display: flex;
justify-content: space-between;}






